<div id="container">
  <h1>Auth</h1>
  <div id='login'>
    <form action='/login' method='post'>
      <input type='text' name='email' placeholder='Email'></input>
      <input type='password' name='password' placeholder='Password'></input>
      <input type='submit' value='login'></input>
    </form>
  </div>
  <div id='register'>
    <form action='/user/create' method='post'>
      <input type='text' name='first_name' placeholder='First Name'></input>
      <input type='text' name='last_name' placeholder='Last Name'></input>
      <input type='text' name='email' placeholder='Email'></input>
      <input type='password' name='password' placeholder='Password'></input>
      <input type='submit' value='Create Account'></input>
    </form>
  </div>
</div>
