
  <h1>Create Post</h1>
  <form action='/post/create' method='post'>
    <input type='text' name='title' placeholder='title'></input>
    <input type='text' name='link' value='http://'></input>
    <textarea name='body' rows=7 cols=30 placeholder='body'></textarea>
    <input type='submit' value='Submit'></input>
  </form>

