  <h1>Signup</h1>

  <div id='register'>
    <form action='/user/signup' method='post'>
      <input type='text' name='first_name' placeholder='First Name'></input>
      <input type='text' name='last_name' placeholder='Last Name'></input>
      <input type='text' name='email' placeholder='Email'></input>
      <input type='password' name='password' placeholder='Password'></input>
      <input type='submit' value='Create Account'></input>
    </form>




  </div>
